<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thêm dữ liệu</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="mt-5">
      <div class="container">
        <h1 class="mb-5">Thêm dữ liệu người gửi xe</h1>
        <form action="/add/" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id" class="form-label">Id:</label>
            <input type="text" class="form-control" name="id" required />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Họ và tên:</label>
            <input type="text" class="form-control" name="name" required />
          </div>
          <div class="mb-3">
            <label for="biensoxe" class="form-label">Biển số xe:</label>
            <input type="text" class="form-control" name="biensoxe" required />
          </div>
          <div class="mb-3">
            <label for="mobile" class="form-label">Số điện thoại:</label>
            <input type="text" class="form-control" name="mobile" required />
          </div>
          <div class="mb-3">
            <label for="tinhtrang" class="form-label">Tình trạng xe:</label>
            <input type="text" class="form-control" name="tinhtrang" required />
          </div>
          <div class="mb-3">
            <label for="thanhtoan" class="form-label">Thanh toán:</label>
            <input type="text" class="form-control" name="thanhtoan" required />
          </div>
          <a href="/" class="btn btn-danger mr-1">Quay Lại</a>
          <button type="submit" class="btn btn-info">Thêm người gửi xe</button>
          {% if error %}
          <div class="alert alert-danger mt-3" role="alert">{{ error }}</div>
          {% endif %}
        </form>
      </div>
    </div>
  </body>
</html>
