@media (max-width:767.91px) {
    h1 {
        font-size: 20px;
    }
    .table th {
        font-size: 8px;
    }
    .table td {
        font-size: 8px;
    }
    .table td a {
        font-size: 8px;
    }
    .ngaygui {
        display: none;
    }
}
